<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- The manifest file is essential for any Android app, as it provides the system with
         critical information about the app's components, permissions, and other configurations.
         It defines the app's package name, permissions required, and declares all the activities,
         services, and receivers the app uses. -->

<!--    let internet access API-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Access the device's network state, allowing the app to check whether it is
         connected to the internet or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- App's settings, including its theme, icon, name, and its major components (activities, services) are declared -->
    <application
        android:name=".MyBaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab2_s4670360"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- intent-filter defines an intent filter that tells the system how this activity should be launched.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>